<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SpaceX Flight Data">
    <meta name="keywords" content="SpaceX,space,NASA,technology">
    <title>SpaceX</title>
</head>
<body> -->
    
    <header class="header">
        <h1>SpaceX Launch Programs</h1>
    </header>
    
    <app-home></app-home>
    <router-outlet></router-outlet>

    <footer class="footer">
        <h2>Developed By Harshit Singh</h2>
    </footer>
<!-- </body>
</html> -->

